@page "/"
@page "/main"
@using BedrockLauncher.Components
@using BedrockLauncher.Mods
@using BedrockLauncher.Modals
@using System;

<div id="main">
    <div class="sidebar" id="sidebar">
        <button @onclick="ButtonClick">messagebox</button>
    </div>
    <div class="mods">
        <ul class="mod-list">
            @for (int i = 1; i < 10; i++)
            {
                <ModCard Mod='new Module("Mod Name", "Mod description")'></ModCard>
            }
        </ul>
    </div>
    <div class="content" id="main-content">

    </div>
</div>
@code 
{
    [CascadingParameter]
    public IModalService ModalService { get; set; } = default!;

    private void ButtonClick()
    {
        var options = new List<(string, EventCallback)>
        {
            ("Ok", new EventCallback(null,(() => { Console.WriteLine("test"); })))
        };

        var parameters = new ModalParameters()
        .Add(nameof(MessageBox.Buttons), options)
        .Add(nameof(MessageBox.Message), "Test message!");

        ModalService.Show<MessageBox>("Test message box", parameters);
    }
}